
.container {
	position: absolute;
	top:  80px;
	left:  0;
	right:  0;
	max-width: 700px;
	padding-bottom: 20px;
	/*background-color:  green;*/
}

.lilhead {
	font-size: min(5.2vw, 20px);
	font-weight: bold;
}

.content {
	/*font-size:  min(4vw, 20px);*/
}

.item {
	margin-top: 20px;
}

.lahdetitle {
	font-weight: bold;
}

.lahdetext {

}

.lahdecontainer{
	margin-bottom: 10px;
}