.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.mapboxgl-ctrl-geolocate{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.mapboxgl-ctrl-icon {
  margin: 0;
  background-color: white;
}
